body {
	margin: 0; 
}

header {
	height: 65px;
	width: 100%;
	background-color: whitesmoke;
	position: fixed;
}

.header-left {
	float: left;
}

.header-right{
	float: right;
	background-color: rgba(255, 255, 255, 0.3);
	transition: all 0.5s;
	margin-right: 50px;
	font-family: "lucida grande";
}

.header-right a {
	padding: 0px 25px;
	color: blue;
	line-height: 65px;
	font-size: 15px;
}

.lesson {
	padding-top: 50px;
	padding-bottom: 50px;
	height: 600px;
	background-image: url(pattern.jpg);
}

.lesson-wrapper {
	width: 1175px;
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	border-top: 2px solid #a5b1c2;
	border-bottom: 2px solid #a5b1c2;
	border-left: 2px solid #a5b1c2;
	border-right: 2px solid #a5b1c2;
}

.lesson-wrapper h1 {
	text-align: center;
}

.font {
	padding-left: 30px;
}

footer {
	border-top: 2px solid #a5b1c2;
	height: 70px;
	width: 100%;
	background-color: black;
}

footer h5 {
	color: white;
	text-align: center;
}
